@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.navbar-links {
  list-style-type: none;
  display: flex;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 1600px;
  color: white;
  background-color: tomato;
  margin-top: 0;
  padding-left: 20px;
  padding-right: 20px;
}

i {
  margin-right: 5px;
}

li {
  font-size: 120%;
  margin: 10px;
}

.card {
  padding: 20px;
  border: 0.5px solid lightgray;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gh-profile-image {
  width: 100px;
  border-radius: 50%;
}

.gh-profile-opening-btn {
  padding: 10px;
  background-color: black;
  color: white;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 2px;
  width: 100px;
  text-align: center;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
}

.gh-profile-opening-btn:hover {
  background-color: white;
  color: black;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
}
.gridstyle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.container {
  padding: 20px;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control {
  padding: 40px;
}

.form-control input {
  width: 100%;
  padding: 10px;
  font-size: 120%;
  margin-bottom: 20px;
}

.form-control input:focus {
  outline: 0;
}

.form-submit-btn {
  background-color: black;
  color: white;
  cursor: pointer;
  margin-bottom: 0px;
}

.clear-btn {
  margin-top: 0px;
  width: 1520px;
  padding: 10px;
  font-size: 120%;
  margin-bottom: 20px;
  margin-left: 40px;
  cursor: pointer;
}
